.cs {
    background-color: rgb(244, 244, 226);
}

.brs {
    font-family: 'Montserrat', cursive;
    text-align: center;
    color: darkkhaki;
    font-size: 30px;
}

.ssd {
    text-align: center;
    color: rgb(51, 124, 153);
    font-size: 22x;
    font-family: 'Montserrat', cursive;
}